[submodule "browser.js"]
	path = browser.js
	url = https://github.com/HeyPuter/browser.js
[submodule "epoxy-tls"]
	path = epoxy-tls
	url = https://github.com/MercuryWorkshop/epoxy-tls
	branch = multiplexed
[submodule "firefox-wasm"]
	path = firefox-wasm
	url = https://github.com/HeyPuter/firefox-wasm.git
